
/* Login Buttons *****************************/

#login-buttons {
	margin: 1em;
}



/* Account ***********************************/

#account {
	margin-bottom: 2em;
}
#account label {
	display: inline-block;
}
#account .amount label {
	font-weight: bold;
	color: #aaa;
	font-size: 17px;
	display: inline-block;
	line-height: 40px;
}
#account .amount .credit {
	font-size: 32px;
	color: #191;
	line-height: 40px;
	margin-left: .5em;
}
#account .amount .debt {
	font-size: 32px;
	color: #911;
	line-height: 40px;
	margin-left: .5em;
}
#account .debt-amount .progress {
	margin-top: 11px;
}

.typeahead {
	z-index: 1050;
}
#reportContributionModal .modal-body,
#paymentModal .modal-body {
	overflow-y: visible;
}
#reportContributionModal .contribute-to-input,
#paymentModal .payee-input {
	margin-top: 0;
}
#paymentModal .payee-field label {
	font-size: 11px;
}
#reportContributionModal .amount-input,
#paymentModal .amount-input {
	float: right;
}

