/* CSS declarations go here */

#login-buttons {
	margin: 1em;
}

div {
	1-border:1px solid blue;
}

.debt-amount {
	font-size:32px;
	color:#a00;
	line-height:40px;
}
.debt-amount label, .credit-amount label {
	font-weight: bold;
	color: #aaa;
	font-size: 17px;
	display:inline-block;
	line-height:40px;
	width:3em;
}
.debt-amount .progress {
	margin-top: 11px;
}
.debt-amount .amount, .credit-amount .amount {
	1-text-align:right;
}

.report-payment-form label {
	display:inline;
}

.credit-amount {
	font-size:32px;
	color:#0a0;
	line-height:40px;
}

.report-cont-form {
	1-display:inline-block;
}

#report-cont-input,
#payment-amount-input {
	text-align:right;
}

.form-right {
	width: 22em; 
}
