<template name="account">
  <!--Body content-->
  <div id="account">
	  <h2>Account Balance</h2>
	  <div class="amount row-fluid">
			<label>Credit</label>&nbsp;<span class="credit">{{credit}}</span>
	  </div>
	  <div class="amount row-fluid">
			<label>Debt</label>&nbsp;<span class="debt">{{debt}}</span>
	  </div>
	  <div class="row-fluid">
	  	<div class="span12">
				{{#constant}}<div class="progress">
				  <div class="bar bar-success"></div>
				</div>{{/constant}}
	  	</div>
	  </div>
		<!-- Button to trigger modal -->
		<a href="#reportContributionModal" role="button" class="btn" data-toggle="modal">Report Contribution</a>

		<!-- Button to trigger modal -->
		<a href="#paymentModal" role="button" class="btn" data-toggle="modal">Make Payment</a>
	</div>

	{{> contributionModal}}
	{{> paymentModal}}

	{{> contributors}}

</template>
