<template name="contributors">
	<section class="shares span6">
		<h4>Shares</h4>
		{{#each revenueShares}}
			<div class="contributor" data-contributor-id="{{this.id}}">
				<div class="email"><a href="mailto:{{this.email}}">{{this.email}}</a></div>
				<div class="contributions">
				{{#each this.contributions}}
					<div class="contribution" data-contribution-id="{{this._id}}">
						<div class="amount"><span>{{this.amountOutstanding}}</span><span> / {{this.amountReported}}</span></div>
						{{#if this.inactive}}
							<button class="accept btn btn-success">Accept</button>
							<button class="deny btn btn-danger">Deny</button>
						{{/if}}
						<br>
					</div>
				{{/each}}
				</div>
				<br>
			</div>
		{{/each}}
	</section>
</template>

<template name="contributions">
	<section class="sources span6">
		<h4>Sources</h4>
		{{#each revenueSources}}
			<div class="contributor" data-contributor-id="{{this.id}}">
				<div class="email"><a href="mailto:{{this.email}}">{{this.email}}</a></div>
				<div class="contributions">
				{{#each this.contributions}}
					<div class="contribution" data-contribution-id="{{this._id}}">
						<div class="amount"><span>{{this.amountOutstanding}}</span><span> / {{this.amountReported}}</span></div>
						{{#if this.inactive}}
							<button class="cancel btn btn-danger">Cancel</button>
						{{/if}}
						<br>
					</div>
				{{/each}}
				</div>
				<br>
			</div>
		{{/each}}
	</section>
</template>